In [1]:
import pandas as pd
lab2=pd.read_csv('reading.csv')
lab2

  Method  Grade
0      c     80
1      c     93
2      c     83
3      c     89
4      c     98
5      t    100
6      t    103
7      t    104
8      t     99
9      t    102

In [2]:
Standart_Method=lab2[lab2.Method == "c"]
New_Method=lab2[lab2.Method == "t"]

In [3]:
New_Method

  Method  Grade
5      t    100
6      t    103
7      t    104
8      t     99
9      t    102

In [4]:
Standart_Method

  Method  Grade
0      c     80
1      c     93
2      c     83
3      c     89
4      c     98

In [ ]:
from scipy import stats

In [8]:
stats.ttest_ind(New_Method.Grade,Standart_Method.Grade)

Ttest_indResult(statistic=3.830161731427132, pvalue=0.005016762443669757)

In [ ]:
In this lab work we also connect with pandas library and read csv file.
After that, we call grades: t is new method and s is standart method and demonstrate each table.
And finally we find when this two test make difference